#anh1 {
    width: 100%;
    height: 80px;
    box-sizing: border-box;
}
#anh2 {
    width:332.5px;
    height:auto;
    box-sizing: border-box;
}

.menu-3 img{
    float:left;
    margin:10px;
    width:30px;
    height:30px;
}
#a {
    width:50px;
    height:50px;
    float:left;
    box-sizing: border-box;
}
#b {
    font-size:12px;
}

.hh-card {
    margin:7px 0;
}
.hh-product {
    text-align: center;
    padding: 5px 2px;
    display:inline-block;
}
.hh-product .card-body img {
    height: 150px;
    max-width: 95%;
}
